<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

	<service id="helloService" ref="englishHelloService"
		interface="org.hello.api.HelloService" />

	<bean id="englishHelloService" class="org.hello.english.EnglishHelloService"
		init-method="init" destroy-method="destroy" />

</blueprint>